.addon{
  width: 100%;
  height: 20vh;
  border: 1px solid red;
  /* background-image: url('./Assets/Diwali/popper-gif-4.gif'); */
  background-size: 350px 350px;
  background-position: 10px center;
  background-repeat: repeat-x;
  background-repeat: no-repeat;
  position: relative;
  /* overflow: hidden; */
}

.addon dotlottie-player{
  position: absolute;
  top: 100%;
  left: 15%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
}