@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.addon-font {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}

*{
  margin: 0;
  box-sizing: border-box;
}

.addon-marquee-wrapper{
  background-color: #b6ef2e;
  height: 100px;
  display: flex;
  border: 2px solid black;
  margin-top: 1rem;
}

.addon-marquee{
  display: flex;
  column-gap: 1rem;
  overflow: hidden;
}

.addon-marquee-content{
  display: flex;
  flex-shrink: 0;
  align-items: center;
  column-gap: 1rem;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-100% - 1rem));
  }
}

.marquee-right{
  animation: marquee-right 20s linear infinite;
}

@keyframes marquee-right {
  0% {
    transform: translateX(calc(-100% - 1rem));
  }
  100% {
    transform: translateX(0);
  }
}

.addon-marquee-content h3{
  border: 1px solid black;
  margin: 0;
  border-radius: 50px;
  padding: 10px 15px;
  background-color: #f1e8e9;
  flex-shrink: 0;
  font-size: 22px;
}













