*{
  margin: 0;
  box-sizing: border-box;
}

.addon-marquee-wrapper{
  background-color: #ffffff;
  height: 110px;
  display: flex;
  border: 2px solid black;
  margin-top: 1rem;
}

.addon-marquee{
  display: flex;
  column-gap: 1rem;
  overflow: hidden;
}

.addon-marquee-content{
  display: flex;
  align-items: center;
  column-gap: 1rem;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee-content-img img{
  height: auto;
  width: 180px;
}