@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.cursive-text {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}

.addon-infinite-autoplay-moving-text {
  /* transform: rotate(-2deg); */
  width: 110%;
  margin: 10px 0px 25px 0px;
  position: relative;
  left: -12px;
}

.addon-ia-slider-moving-text {
  background: rgb(181, 239, 45);
  height: 100px;
  margin: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 2px solid black;
}

.addon-ia-slider-moving-text .addon-ia-slide-moving-text {
  font-size: 24px !important;
  text-transform: uppercase;
  width: 395px;
}

.addon-ia-slider-moving-text .addon-ia-slide-moving-text h3{
  margin: 0;
}

.addon-ia-slider-moving-text::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.addon-ia-slider-moving-text::before {
  left: 0;
  top: 0;
}

.addon-ia-slider-moving-text .addon-ia-slide-track-moving-text {
  animation: scroll 20s linear infinite;
  display: flex;
  width: calc(395px * 8);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-395px * 4));
  }
}

@media (width<=476px) {
  .addon-infinite-autoplay-moving-text {
    margin-top: 15px !important;
  }

  .addon-ia-slider-moving-text::before,
  .addon-ia-slider-moving-text::after {
    width: 40px !important;
  }

  .addon-ia-slider-moving-text {
    height: 70px !important;
  }

  .addon-ia-slide-moving-text img {
    width: 130px !important;
  }

  .addon-ia-slider-moving-text .addon-ia-slide-moving-text {
    font-size: 20px !important;
    width: 330px !important;
  }
}





















